In [49]:
import pandas as pd
import numpy as np
pd.__version__

'2.3.2'

In [5]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

--2025-09-30 04:30:07--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 874188 (854K) [text/plain]
Saving to: ‘car_fuel_efficiency.csv’

car_fuel_efficiency 100%[===================>] 853.70K  1.25MB/s    in 0.7s

2025-09-30 04:30:09 (1.25 MB/s) - ‘car_fuel_efficiency.csv’ saved [874188/874188]

In [30]:
df = pd.read_csv('car_fuel_efficiency.csv')
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [31]:
row_count = len(df)
print(f"Number of rows: {row_count}")

Number of rows: 9704

In [32]:
grouped_counts = df.groupby('fuel_type').count()
print(grouped_counts)

           engine_displacement  num_cylinders  horsepower  vehicle_weight  \
fuel_type
Diesel                    4806           4601        4461            4806
Gasoline                  4898           4621        4535            4898

           acceleration  model_year  origin  drivetrain  num_doors  \
fuel_type
Diesel             4350        4806    4806        4806       4550
Gasoline           4424        4898    4898        4898       4652

           fuel_efficiency_mpg
fuel_type
Diesel                    4806
Gasoline                  4898

In [33]:
missing_counts = df.isnull().sum()
print(missing_counts)

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [34]:
max_fuel_effiency = df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

print(f"Maximum fuel effiency from india: {max_fuel_effiency}")

Maximum fuel effiency from india: 23.759122836520497

In [35]:
median_h = df['horsepower'].median()
print(f"Median of horsepower: {median_h}")

Median of horsepower: 149.0

In [36]:
most_frequent_horsepower = df['horsepower'].mode()
print(most_frequent_horsepower)

0    152.0
Name: horsepower, dtype: float64

In [37]:
df['horsepower'].fillna(df['horsepower'].mode()[0], inplace=True)

/var/folders/4z/0g2x_zdn7655yglxc_tm48rw0000gn/T/ipykernel_64881/1915616483.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['horsepower'].fillna(df['horsepower'].mode()[0], inplace=True)

In [38]:
median_h = df['horsepower'].median()
print(f"Median of horsepower: {median_h}")

Median of horsepower: 152.0

In [44]:
cars_asi = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']]
cars_asi.head(7)

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [45]:
# Assuming 'df' is your existing pandas DataFrame
X = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']].to_numpy()

print(type(X))
print(X[:5]) # Display the first 5 rows of the array

<class 'numpy.ndarray'>
[[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]]

In [46]:
XTX = X.T @ X

In [50]:
XTX_inv = np.linalg.inv(XTX)

In [51]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [53]:
w = XTX_inv @ XTX

In [55]:
np.sum(w)

np.float64(2.00000000000001)